---
import type { Personas } from '@models/persona.model';
import { PERSONAS_ROYAL_DATA } from '@data/personas.data';
import Layout from '@layouts/Layout.astro';
import { PersonaList } from '../components/PersonaList/PersonaList';

const data: Personas = PERSONAS_ROYAL_DATA;
---

<Layout title="Persona Dex" description="Persona 5 royal dex">
  <main>
    <PersonaList data={data} client:visible />
  </main>
</Layout>
