---
import type { Personas } from '@models/persona.model';
import { PERSONAS_ROYAL_DATA } from '@data/personas.data';
import Layout from '@layouts/Layout.astro';
import { PersonaList } from '@components/PersonaList/PersonaList';
import Logo from '@components/Logo.astro';
const data: Personas = PERSONAS_ROYAL_DATA;
---

<Layout
  title="PersonaDex"
  description="Unlock Persona 5 Royal's secrets with our PersonaDex. Discover stats, weaknesses, strengths, and hidden powers. Dive in!"
>
  <section class="main-title">
    <Logo />
    <h1>PersonaDex for Persona 5 Royal</h1>
  </section>
  <main>
    <PersonaList data={data} client:visible />
  </main>
</Layout>

<style>
  .main-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main-title h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: white;
    font-weight: bold;
    text-wrap: pretty;
    text-align: center;
    filter: drop-shadow(3px 3px 0px black);
  }
</style>
