---
import { getBaseUrl } from '@utils/baseUrl';

interface Props {
  weakness: string[];
}

const { weakness } = Astro.props;

const WEAK_TEXTS: { [key: string]: string } = {
  '-': '',
  wk: 'Wk',
  rs: 'Str',
  nu: 'Nul',
  rp: 'Rpl',
  ab: 'Dr',
};

const WEAK_IMGS: { [key: number]: string } = {
  0: '/weakness/Melee_Icon.webp',
  1: '/weakness/Ranged_Icon.webp',
  2: '/weakness/Fire_Icon.webp',
  3: '/weakness/Ice_Icon.webp',
  4: '/weakness/Elec_Icon.webp',
  5: '/weakness/Wind_Icon.webp',
  6: '/weakness/Psy_Icon.webp',
  7: '/weakness/Nuclear_Icon.webp',
  8: '/weakness/Light_Icon.webp',
  9: '/weakness/Dark_Icon.webp',
};

const WEAK_NAMES: { [key: number]: string } = {
  0: 'Melee',
  1: 'Ranged',
  2: 'Fire',
  3: 'Ice',
  4: 'Elec',
  5: 'Wind',
  6: 'Psy',
  7: 'Nuclear',
  8: 'Light',
  9: 'Dark',
};
---

<section class="container">
  <div class="container__body">
    {
      weakness.map((weak, index) => (
        <div class="weak-container">
          <div class="weak">
            <img
              src={getBaseUrl() + WEAK_IMGS[index]}
              alt={`Weakness to ${WEAK_NAMES[index]}`}
              width="40"
              height="30"
            />
            <span class="weak__title">{WEAK_TEXTS[weak]}</span>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .container {
    position: relative;
    background-color: white;
    color: black;
    padding: 0px 30px;
    transform: skew(-10deg, -2deg);
    height: 45%;
  }

  .container__body {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .weak-container {
    background-color: white;
    color: white;
    padding: 5px;
    height: fit-content;

    transform: skew(10deg, -2deg);
  }

  .weak {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: x-large;
    font-weight: bold;

    padding: 5px;
  }

  .weak img {
    min-width: 40px;
    min-height: 30px;
  }

  .weak-container:nth-child(even) {
    margin-top: 10px;
  }

  .weak-container:nth-child(2) {
    margin-right: 15px;
  }

  @media (max-width: 804px) {
    .container {
      transform: skew(-5deg, 0deg);
      height: 100%;
      padding: 10px 0px;
    }

    .container__body {
      justify-content: center;
    }

    .weak-container {
      transform: skew(5deg, 0deg);
    }

    .weak-container:nth-child(even) {
      margin-top: 0;
    }

    .weak-container:nth-child(2) {
      margin-right: 0;
    }
  }
</style>
